# Dependencies
node_modules/
.pnp
.pnp.js

# Environment
.env
.env.local
.env.*.local

# Expo
.expo/
dist/
web-build/
*.orig.*

# Native
*.ipa
*.apk
*.aab

# Logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# OS / editor
.DS_Store
.idea/
.vscode/
*.swp

# Build output
build/
coverage/
